#topbar {
    display: -webkit-box;
}
#nav-header {
    cursor: pointer;
}
#open-bookmark {
    display: inline;
    margin-top: 2px;
    margin-left: 1px;
    background-color: transparent;
}

.bookmarks {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-top: 1px;
}
.glyphicon-remove {
    float: right;
    margin-top: 2px;
}

#upload-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
#search {
    width: 33%;
    height: 25px;
    margin-top: 1%;
}
.dropdown {
    display: -webkit-box;
    height: 1%;
    margin-top: 1%;
    font-size: 17px;
}
