#documents-group {
    margin: auto;
    padding: 5px;
    width: 60%;
    border-style: inset;
    background-color: ghostwhite;
}

.bookmark, .remove, .owner {
    cursor: pointer;
    float: right;
    margin-left: 3px;
    font-size: 16px;
    margin-top: 2.5px;
}
.bookmark {
    color: green;

}
.remove {
    color: red;
}
.doc-content {
    display: inline;
    font-size: 10px;
    cursor: pointer;
}
.doc-glyph {
    font-size: 11px;
    cursor: pointer;
}
.owner {
    margin-right: 10px;
    color: #001f3f;
    font-size: small
}
.doc-item {
    border-style: ridge;
    border-width: 0 0 1px 0;
    border-color: #939393;
}
.doc-filtered-content {
    display: block;
    white-space: pre-wrap;
    background-color: antiquewhite;
    margin-top: 7px;
}