.center {
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top: 3%;
}

#image {
	width: 13%;
	margin: 0 auto;
	content: url('../../images/main_image.png');
}
#title {
	color: #337ab7;
	font-family: "Great Vibes", cursive;
	font-size: 400%;
	font-weight: normal;
	text-align: center;
	text-shadow: 0 1px 1px #fff
}
.hide {
	display: none;
}

.error {
	border: solid 1px orange;
}

#div-tooltip {
	display: -webkit-box;
}

#forgot {
	padding-left: 20px;
}
#buttons {
    margin-top: 10px;
}

#email {
	margin-right: 20px;
    margin-bottom: 10px;
}

#btn_sign_in {
	margin-right: 10px
}
